:root {
  /* --black: hsl(0, 93%, 48%); */
  --time: 500ms;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
}

button {
  height: 44px;
  padding: 0 16px;
  cursor: pointer;
}

#parent {
  display: flex;
  margin-left: 500px;
  padding: 16px;
  perspective: 5000px;
}

#child {
  position: absolute;
  perspective: 5000px;
  transform-style: preserve-3d;
  transition: transform var(--time);
  border: 1px solid var(--black);
}
/*======My Id======*/
.psuname {
  top: 40px;
  left: 65px;
  z-index: 1000;
}
.psu_logo {
  top: 40px;
  left: 640px;
  z-index: 1500;
}
.id_pfp {
  top: 440px;
  left: 235px;
  z-index: 1000;
}
.bg_yellow {
  top: 0px;
  left: 0px;
  z-index: 800;
}
.id_name {
  top: 1180px;
  left: 8px;
  z-index: 800;
}
.id_num {
  top: 1266px;
  left: 350px;
  z-index: 800;
}
.bcode {
  top: 1331px;
  left: 160px;
  z-index: 800;
}
.signature {
  top: 1010px;
  left: 280px;
  z-index: 800;
}
.bsit {
  top: 1435px;
  left: 30px;
  z-index: 900;
}
.bsit_bg {
  top: 1400px;
  left: 0px;
  z-index: 800;
}
.bg_blue {
  top: 30px;
  left: 0px;
  z-index: 700;
}
/*=======My ID End=========*/
#parent[data-rotate="true"] #child {
  transform: translate3d(0, 0, -200px) rotate3d(0.1, -0.1, 0.1, 86deg);
}

.grandChild {
  aspect-ratio: 3/1;
  position: absolute;
  border: 1px solid var(--black);
  transition: transform var(--time);
}

/* #parent[data-rotate="true"] .grandChild { */
/* transition-delay: var(--time); */
/* } */

#parent[data-rotate="true"] .grandChild:nth-child(2) {
  transform: translate3d(0, 0, 300px);
}

#parent[data-rotate="true"] .grandChild:nth-child(3) {
  transform: translate3d(0, 0, 280px);
}

#parent[data-rotate="true"] .grandChild:nth-child(4) {
  transform: translate3d(0, 0, 150px);
}

#parent[data-rotate="true"] .grandChild:nth-child(5) {
  transform: translate3d(0, 0, 80px);
}

#parent[data-rotate="true"] .grandChild:nth-child(6) {
  transform: translate3d(0, 0, 250px);
}

#parent[data-rotate="true"] .grandChild:nth-child(7) {
  transform: translate3d(0, 0, 400px);
}

#parent[data-rotate="true"] .grandChild:nth-child(8) {
  transform: translate3d(0, 0, 500px);
}

#parent[data-rotate="true"] .grandChild:nth-child(9) {
  transform: translate3d(0, 0, 200px);
}

#parent[data-rotate="true"] .grandChild:nth-child(10) {
  transform: translate3d(0, 0, 100px);
}

#parent[data-rotate="true"] .grandChild:nth-child(11) {
  transform: translate3d(0, 0, 90px);
}

#parent[data-rotate="true"] .grandChild:nth-child(12) {
  transform: translate3d(0, 0, 100px);
}
